html, body, #root {
  height: 100%;
  min-height: 100%;
  background: rgba(245, 246, 247, 1);
}

// Loading
.ssg-loading {
  height: 100%;
  min-height: 100%;
  text-align: center;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__text {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 45px;
  }

  &__spinner {
    display: block;
  }
}

// SSG wrapper
.ssg-wrapper, .ssg {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.bg-ver-0,
.bg-ver-1,
.bg-ver-2,
.bg-ver-3,
.bg-ver-4 {
  transition: background-image 600ms ease-in;
}

.ssg-wrapper.bg-ver-0 {
  background: url("./assets/image/optimised/background-0.jpg") top center no-repeat;
  background-size: cover;
}
.ssg-wrapper.bg-ver-1 {
  background: url("./assets/image/optimised/background-1.jpg") top center no-repeat;
  background-size: cover;
}
.ssg-wrapper.bg-ver-2 {
  background: url("./assets/image/optimised/background-2.jpg") top center no-repeat;
  background-size: cover;
}
.ssg-wrapper.bg-ver-3 {
  background: url("./assets/image/optimised/background-3.jpg") top center no-repeat;
  background-size: cover;
}
.ssg-wrapper.bg-ver-4 {
  background: url("./assets/image/optimised/background-4.jpg") top center no-repeat;
  background-size: cover;
}

// Content
.ssg {
  background: rgba(250, 250, 250, 0.2);
}

// Header
.ssg-header {
  overflow: hidden;

  &__title {
    color: #fff;
    position: relative;
    background: rgb(13,8,77);
    padding: 20px 30px 40px 30px;
    margin-bottom: 0;
    background: linear-gradient(-60deg, rgba(13,8,77,1) 0%, rgba(75,115,232,1) 100%);
  }

  &__title small {
    font-size: 50%;
    display: block;
  }

  &__title-icon.MuiSvgIcon-root {
    top: 0;
    right: -35px;
    opacity: 0.2;
    font-size: 180px;
    position: absolute;
    transform: rotate(10deg);
  }
}


// Main Content
.ssg-main {
  padding: 30px;
  margin-top: 20px;

  &__title {
    font-size: 14px;
  }

  &__route-selector {
    &.MuiGrid-container {
      margin-bottom: 5px;
    }

    &-button {
      overflow: hidden;

      & span.MuiButton-label {
        justify-content: left;
        padding-left: 25px;
      }

      &-swap {
        &.MuiButton-root {
          padding: 0;
          width: 36px;
          height: 36px;
          min-width: 36px;
          transform: translateY(6px);
        }
      }

      &-clear {
        &.MuiButton-root {
          height: 48px;
          padding: 0 15px;
          min-width: 48px;
        }
      }

      &--icon {
        left: 10px;
        position: absolute;
      }

      &--adjust {
        width: 100%;
        height: 48px;
      }
    }

    &-info-flag {
      line-height: 1em;
      margin-right: 10px;

      & svg {
        height: 14px;
      }
    }
    &-info-text {
      line-height: 1em;
      text-align: left;

      &-name {
        display: block;
      }

      &-code {
        display: block;
        font-size: 30%;
        font-weight: bold;
      }
    }
  }

  &__alert {
    &-error {}
  }

  &__graph {
    min-height: 320px;

    &.MuiPaper-root {
      line-height: 0;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
      background: linear-gradient(-60deg, rgba(13,8,77,0.1) 0%, rgba(75,115,232,0.1) 100%);
    }

    &-d3js {}

    &-status-message {
      &-title {
        padding: 0;
        width: 100%;
        color: #A9A9B8;
        margin: 0 auto;
        line-height: 1.2em;
        text-align: center;
        display: inline-block;
        transform: translateY(150%);
      }

      &-subtitle {
        display: block;
      }
    }

    &-tooltip {
      opacity: 0;
      z-index: 900;
      width: 100px;
      color: #000000;
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 5px;
      position: absolute;
      display: inline-block;
      padding: 10px 15px 15px;
      border: 1px solid #333333;
      background-color: #FFFFFF;
      transition: transform 400ms ease;

      &--date, &--key {
        margin: 0;
        display: block;
        line-height: 1em;
      }

      &--date {
        padding: 3px 0;
        font-size: 11px;
        text-align: center;
        border-radius: 3px;
        background-color: #efbf27;
      }

      &--key {
        font-size: 12px;
        text-align: left;
        font-weight: normal;
        padding: 10px 0 2px 0;
        text-transform: uppercase;
        border-bottom: 2px solid #ffcc25;

        &:nth-child(4) .ssg-main__graph-tooltip--value {
          color: #028090;
        }
        &:nth-child(3) .ssg-main__graph-tooltip--value {
          color: #DEB841;
        }
        &:nth-child(2) .ssg-main__graph-tooltip--value {
          color: #F45B69;
        }
      }

      &--value {
        float: right;
        font-weight: bold;
      }
    }
  }
}

// Options
.ssg-options {
  &__time-range {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 36px;

    &--date {
      &.MuiFormControl-root {
        margin: 5px 5px 0 5px;
        width: 150px;

        & .MuiInputBase-input {
          padding-left: 10px;
        }
      }
    }
  }

  &__button {
    &--icon {
      margin-right: 10px;
    }
  }
}


// Footer
.ssg-footer {
  margin-top: 15px;
  text-align: center;

  & span {
    width: auto;
    height: 21px;
    color: #333333;
    padding: 0 15px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    background: rgba(233, 234, 243, 0.5);
  }
}

// Dialog
.ssg-dialog {
  &__title {
    &.MuiDialogTitle-root {
      padding-right: 60px;
    }

    &-close {
      &.MuiButtonBase-root {
        top: 19px;
        right: 20px;
        padding: 0;
        width: 24px;
        height: 24px;
        min-width: 24px;
        position: absolute;
      }

      &.MuiButton-label {
        font-size: 20px;
      }
    }
  }

  &__list {
    &.MuiList-root{
      padding: 0 0 30px;

      & > .MuiListItem-button {
        padding-left: 30px;
      }
    }
  }
}

// Helper
.ssg-main__graph-d3js + .ssg-main__graph-status-message {
  display: none;
}
